<h2>{{ content.human.displayName }}</h2>

<div class="human-bio">
    {{ content.human.body }}
</div>

<h3>Me contacter</h3>

<ul>
    <li>
        <i class="fas fa-mobile-alt"></i>
        {{ content.human.phoneNumber }}
    </li>
    <li>
        <i class="fas fa-envelope"></i>
        {{ content.human.emailAddress }}
    </li>
    {#
    <li>
        <a href="{{ content.human.webSite }}">
            <i class="fas fa-globe"></i>
            {{ content.human.webSite | strip_protocol }}
        </a>
    </li>
    #}
    <li class="no-print">
        <a href="https://www.linkedin.com/in/{{ content.human.linkedIn }}">
            <i class="fab fa-linkedin"></i>
            LinkedIn
        </a>
    </li>
</ul>

<h3>Compétences</h3>

{{ content.skills.body }}
