<h2>{{ content.human.displayName }}</h2>

<div class="human-bio">
    {{ content.human.body }}
</div>

<br/>

<ul class="contacts">
    <li>
        <i class="fas fa-mobile-alt"></i>
        <span>
            {{ content.human.phoneNumber }}
        </span>
    </li>
    <li>
        <i class="fas fa-envelope"></i>
        <span>
            {{ content.human.emailAddress }}
        </span>
    </li>
    {#
    <li>
        <a href="{{ content.human.webSite }}">
            <i class="fas fa-globe"></i>
            {{ content.human.webSite | strip_protocol }}
        </a>
    </li>
    #}
    <li class="no-print is-link">
        <a href="https://www.linkedin.com/in/{{ content.human.linkedIn }}">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
        </a>
    </li>
</ul>


