body {
    padding-top: 0rem;
}

/* This was made before using sass ... */

.main-container {
    max-width: $desktop - (2 * $gap);
    margin:0 $gap;
    @include desktop {
        margin:0 auto;
    }
}

.main-body h1 {
    @extend .title.is-1;
}

.main-body p {
    font-style: italic;
}

ul.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts svg.svg-inline--fa {
    height: 1.5em;
    width: 2em;
    vertical-align: middle;
}

.contacts li:not(.is-link)  > * ,
.contacts li.is-link a > * {
    vertical-align: middle;
}

h2 svg.svg-inline--fa,
h3 svg.svg-inline--fa,
h4 svg.svg-inline--fa {
    width: 1.25em!important;
}


.content .data-formation-title,
.content .data-job-title ,
.content .sidebar h3 {
    color: $primary;
    text-transform: uppercase;
}
.content .sidebar h4 svg {
    /*color: ;*/
}

.content .data-employer,
.content .data-school {
    text-transform: uppercase;
    font-weight: 400;
    color: #888888;
}
