<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/main.css" />

<title>{{ content.main.title }}</title>
<div class="section">
  <div class="main-container content">
    <div class="columns">
      {# Main Container #}
      <div class="column">
        <div class="main-body">
          {{ content.main.body }}
        </div>

        <section class="section">
          {% include 'partials/experience.html' %}
        </section>
        <section class="section">
          {% include 'partials/formation.html' %}
        </section>
      </div>
      {# Sidebar #}
      <aside class="column is-one-third sidebar">
        {% include 'partials/human.html' %}
        {% include 'partials/skills.html' %}
      </aside>
    </div>
  </div>
</div>

<script defer src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>

<footer style="display: none">
  <h2>Versions du CV spécifiques à un métier</h2>
  <nav>
    <a href="{{ path_for('cv', {'topic': 'webdev'}) }}">Développeur Web Full Stack</a>
    <a href="{{ path_for('cv', {'topic': 'sig'}) }}">Développeur SIG</a>
  </nav>
</footer>
