<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/bundle.min.css"/>

<title>{{ content.main.title }}</title>

<div class="section">
  <div class="main-container content">
    <div class="columns">
      {# Main Container #}
      <div class="column">
        <div class="main-body">
          {{ content.main.body }}
        </div>

        <section class="section">
          {% include 'partials/experience.html' %}
        </section>
        <section class="section newpage">
          {% include 'partials/formation.html' %}
        </section>
      </div>
      {# Sidebar #}
      <aside class="column is-one-third sidebar">
        {% include 'partials/human.html' %}
        {% include 'partials/skills.html' %}
      </aside>
    </div>
  </div>
</div>

<footer style="display: none">
  <h2>Versions du CV spécifiques à un métier</h2>
  <nav>{% for topic in cvTopics %}

    <a href="{{ path_for('cv', {'issue': 'full', 'topic': topic}) }}">{{ topic }}</a>
    <a href="{{ path_for('cv', {'issue': 'short', 'topic': topic}) }}">{{ topic }} (Short Version)</a>
  {% endfor %}</nav>
</footer>

<script type="text/javascript" src="/assets/bundle.min.js"></script>
