<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ content.main.title }}</title>
<div class="section">
  <div class="main-container container content">
    <div class="columns">
      {# Main Container #}
      <div class="column">
        <h1 class="title is-1">
          {{ content.main.pageTitle }}
        </h1>

        <section class="section">
          {% include 'partials/experience.html' %}
        </section>
        <section class="section">
          {% include 'partials/formation.html' %}
        </section>
      </div>
      {# Sidebar #}
      <aside class="column is-one-third sidebar">
        {% include 'partials/human.html' %}
        {% include 'partials/skills.html' %}
      </aside>
    </div>
  </div>
</div>

<link rel="stylesheet" href="assets/css/main.css" />
<script type="text/javascript" src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
