/* Override the bulma container */
@media screen and (min-width: 1472px) {
    .container.main-container {
        max-width: 960px;
        width: 960px;
    }
}
@media screen and (min-width: 1280px) {
    .container.main-container {
        max-width: 960px;
        width: 960px;
    }
}

.human-bio p {
    font-style: italic;
}
